    <div class="container p-4">
        <form action="/formulario" method="POST" class="card card-body">
            <div class="form-group">
                <label for="title"> Titulo </label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Introduce un titulo" autofocus required>
            </div>
            <div class="form-group">
                <label for="imagen"> Imagen </label>
                <input type="text" class="form-control" name="imagen" id="imagen" placeholder="Introduce una imagen" required>
            </div>
            <div class="form-group">
                <label for="descripcion"> Descripcion </label>
                <textarea rows="2" class="form-control" name="descripcion" id="descripcion" required></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Guardar</button>
    </form>
    </div>
